<script type="text/javascript"src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUx2rd-iiFODbyxZumrl1VU9FRHtU1lW0"></script>
<div ng-controller="gamesCtrl">
<!--   <div ng-repeat="game in games">
    <h2>Title: <a href="/games/{{game.id}}">{{game.title}}</a></h2>
    <h2>Address: {{game.address}}</h2>
    <h2>Start Time: {{game.start_time}}</h2>
    <h2>End Time: {{game.end_time}}</h2>
    <h2>Players Joined: {{game.players_joined}}</h2>
    <br><hr>
  </div>
 -->
  <div id="map">
  </div>
</div>
