// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  height: 600px;
}

h1.create-game {
  text-align: center;
}

div.submit-button {
  text-align: center;
}

div.jumbotron {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 250px;
}